@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Sans Pro";
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background: linear-gradient(
    to right,
    #09090a 0%,
    #181719 38%,
    #36343b 88%,
    #39363d 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.react-flow__controls-button svg {
  fill: black;
}
